{%- assign collection = collections[section.settings.collection] -%}
<section id="section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="home-featured-products" class="Section Section--spacingNormal featured-products">
  <div class="container-large">
    {% if section.settings.title != blank %}
      <div class="CollectionList__Header SectionHeader desktop-only align-center">
        <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title }}</h2>
      </div>
    {% endif %}
   <div class="main-carousel carousel" data-flickity='{ "cellAlign": "left", "groupCells": true, "contain": true, "pageDots": {{ section.settings.display-dots }},  "prevNextButtons": {{ section.settings.display-arrows }}, "arrowShape": {"x0": 10,"x1": 55, "y1": 45,"x2": 60, "y2": 40,"x3": 20} }'>
     {% for product in collection.products limit: 8 %}
       {% render 'product-thumbnail', product: product %}
     {% endfor %}
   </div>
 </div>
</section>
{% schema %}
{
  "name": "Collection slideshow",
  "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Section title",
            "default": "NOUVEAUTÉS"
          },
          {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
          },
          {
             "type": "header",
             "content": "Carrousel options"
          },
          {
            "type": "checkbox",
            "id": "display-arrows",
            "label": "display arrows",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "display-dots",
            "label": "display dots",
            "default": true
          }
  ],
  "presets": [
    {
      "name":  "Collection Slideshow",
      "category":  "Collection"
    }
  ]
}
{% endschema %}
